/*Custom CSS to remove Flexboxgrid*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Video Header*/
.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.video-container video {
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#home{
  height: 100vh !important;
}





/*End Video Header*/

/* Menu */

/*Nav Menu*/
.navigation li{
  padding: 5px 10px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.navigation li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.navigation li a {
  color: white;
  cursor: pointer;
}

.navigation li a:hover {
  text-decoration: none;
}

#description.absolute {
  bottom: 0;
}

#description ul {
  margin: 0;
}

#description.fixed {
  top: 0;
}

/*End Nav Menu*/

/*Services Styles*/
.services {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 0;
  overflow: hidden;
}

.services:hover .screen {
  top: 0;
}

.services .screen {
  top: -100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}

#menu-title {
  width: 300px;
  z-index: 5;
  top: 50%;
  left: calc(50% - 150px);
  top: calc(50% - 2.5em);
}

/*End Services Styles*/

/* End Menu */

/*Gallery*/

  #gallery {
    width: 100%;
    overflow-x: hidden;
  }

  #gallery .inner {
    white-space: nowrap;
    position: relative;
    left: 0;
    -webkit-transition: left 0.8s;
    -o-transition: left 0.8s;
    transition: left 0.8s;
  }

  #gallery .image {
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: -4px;
    height: 100vh;
    width: 100%;
  }

/*End Gallery*/
/* Cards */

.container .card {
  margin-top: -200px;
  padding: 2em;
}

/*End Cards*/

/* Contact form */

#contact-form {
  margin-top: -4em;
  height: 40em;
  background-color: #000000;
}

.contact-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  background-color: #000000;
}

.form-wrapper {
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-div {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  padding: 2em;
  max-width: 50em;
  min-height: 25em;
}

.input-wrap {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.feedback-input {
  box-shadow: none;
  border-radius: 0;
  background-clip: padding-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-bottom: 2px solid #000000;
  color: #000000;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  padding: 1em;
  margin: 0 0 2em 0;
  width: 100%;
}

.input-wrap .feedback-input:last-child {
  margin-left: 2em;
}

.feedback-input:focus {
  border: 2px solid #000000;
  background-color: transparent;
  outline: none;
}

textarea {
  font-size: 1rem;
  height: 10em;
  overflow: hidden;
  resize: none;
}

.message {
  text-align: left;
  margin: 0;
}

.send-button {
  font-size: 1rem;
  border: 2px solid #333;
  cursor: pointer;
  min-width: 11.5em;
  letter-spacing: 1px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  padding: 0.75em 0.3em;
  margin: 0 auto;
  color: #333;
  font-weight: 600;
  outline: none;
  display: flex;
  justify-content: center;
}

.send-button:hover {
  background-color: #333;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

:-ms-input-placeholder {
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

::placeholder {
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

/*End Contact Form*/

/* Location of company */

#location {
  width: 80%;
  margin: 0 auto;
  margin-top: -50px;
}

#map {
  height: 40em;
}

/*End Location of Company*/

/*Helper classes to reduce CL*/

.top-space {
  margin-top: 2em;
}

.title {
  font-size: 4em;
}

.subtitle {
  font-size: 2.5em;
}

.medium, .navigation li {
  font-size: 1.5em;
}

.large-padding {
  padding: 10px 15px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.black-text {
  color: #000000;
}


.card {
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.slim {
  font-weight: 200;
}


.top {
  top:3em;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.relative {
  position: relative;
}

.white-text {
  color: #ffffff;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
.up {
  z-index: 10;
}
.row {
  margin: 0;
}
.hidden {
  display: none;
}

#parent {
  display: table;
}

#child {
  display: table-cell;
  vertical-align: middle;
}

.t-div {
  display: table;
}

.t-child {
  display: table-cell;
  vertical-align: middle;
}


/*End Helper Classes*/

/*Map Styles*/

#location {
  height: 600px;
  width: 100%;
  overflow: hidden;
}



/*End Map Styles*/
